
$dark-blue: #2a3f54;
$native-white: #ffff;
$white: #ffffffd9;
$gray: #cccccc;
$gray-content: #73879c;
$light-gray: #ededed;
$medium-gray: #f7f7f7;
$green: #1abb9c;
$red: #da0f0f;

$menu-width: 250px;